/* Fonts */
$font-logo: 'Bungee';
$font-body: 'Source Sans Pro';
$font-fall-back: 'sans-serif';

/* Fonts weight*/
$font-body-light: 300;
$font-body-light-italic: 300 italic;

$font-body-regular: 400;

$font-body-semibold: 600;
$font-body-semibold-italic: 600 italic;

$font-logo-regular: 400;

/* Colors */
// primary colors
$backgroung-body: #f4f1ec;
$backgroung-header: #eda745;
$backgroung-nav: #4056A1;

//secondary colors
$dark-grey: #545149; 
$light-grey: #d6d9e5;
$red: #dc3f30;
$white: #FFFFFF;
