@import 'variables';

/* media query for tablet */
@media only screen and (min-width: 768px) {
  .mq-desktop {
    margin-top: 0;

    .profile-header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: $backgroung-header;
      background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
      height: 520px;
      width: 100vw;

      .profile-img {
        margin-bottom: 1em;
      }

      .profile-name {
        color: $white;
        font-weight: $font-body-regular;
        margin: 0;
      }
    }
  }
}

/* media query for desktop */
@media only screen and (min-width: 1224px) {
  .mq-desktop {
    width: 50vw;
    justify-content: left;
    margin-left: 2em;

    .profile-header {
      height: 350px;
      width: 35vw;
      position: fixed;
      top:8em;

      .profile-img {
        margin-top: 0;
      }
    }
  }
}