/* Fonts */
/* Colors */
.mq-desktop {
  margin-top: 0;
}
.mq-desktop .profile-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eda745;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  height: 520px;
  width: 100vw;
}
.mq-desktop .profile-header .profile-img {
  margin-bottom: 1em;
}
.mq-desktop .profile-header .profile-name {
  color: #FFFFFF;
  font-weight: 400;
  margin: 0;
}

/* media query for desktop */
@media only screen and (min-width: 1024px) {
  .mq-desktop {
    width: 50vw;
    justify-content: left;
    margin-left: 2em;
  }
  .mq-desktop .profile-header {
    height: 350px;
    width: 35vw;
    position: fixed;
    top: 8em;
  }
  .mq-desktop .profile-header .profile-img {
    margin-top: 0;
  }
}
