/* Fonts */
/* Fonts weight*/
/* Colors */
.new-tweet {
  display: none;
}
.new-tweet .invalid {
  color: #dc3f30;
}
.new-tweet .error-message {
  display: none;
  font-weight: 600;
  color: #dc3f30;
  margin-top: 1.7em;
  padding: 0.5em;
  width: 100%;
  text-align: center;
  border: 3px solid #dc3f30;
}
.new-tweet form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2em 0 1em 0;
}
.new-tweet form label {
  font-weight: 600;
  margin-bottom: 1em;
}
.new-tweet form #tweet-text {
  padding-bottom: 1em;
  border: none;
  border-bottom: 5px solid #545149;
  background-color: #f4f1ec;
  resize: none;
}
.new-tweet form #tweet-text:focus {
  outline: none;
}
.new-tweet form div {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}
.new-tweet form div .tweet-but {
  color: #FFFFFF;
  background-color: #4056A1;
  border: none;
  padding: 0.3em;
}
.new-tweet form div .tweet-but:hover {
  cursor: pointer;
}
.new-tweet form div .counter, .new-tweet form div .tweet-but {
  font-family: "Bungee", "sans-serif";
  font-weight: 400;
}
