/* Fonts */
/* Colors */
.tweet {
  display: flex;
  flex-direction: column;
  border: 5px solid #545149;
  padding: 1em 0.5em 1em 0.5em;
  margin-top: 2em;
}
.tweet:hover {
  box-shadow: 10px 10px 0px 0px #d6d9e5;
}
.tweet header, .tweet footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5em 0 0.5em;
}
.tweet header .user-handle, .tweet footer .user-handle {
  color: #d6d9e5;
  font-weight: 600;
}
.tweet header .header-left,
.tweet header .time,
.tweet header .icons, .tweet footer .header-left,
.tweet footer .time,
.tweet footer .icons {
  margin: 0;
}
.tweet .header-left {
  display: flex;
}
.tweet .header-left img {
  width: 3em;
  height: 3em;
  margin-right: 0.5em;
}
.tweet .text {
  padding: 0 0.5em 0 0.5em;
}
.tweet footer {
  border-top: 5px solid #545149;
  height: 2.5em;
}
.tweet footer .icons {
  display: flex;
  gap: 1em;
}
.tweet footer .icons i {
  color: #4056A1;
}
.tweet footer .icons i:hover {
  color: #eda745;
}
